<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">  

<configuration>   
    <!-- 加载类路径下的属性文件 -->  
<!--     <properties resource="prop.properties"/>   -->

    <!-- 设置类型别名 -->  
    <typeAliases>  
        <package name="com.jsdz.jsdzcloud.bean" />
    </typeAliases>  
    
        	<!-- 配置分页插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库 -->
			<!-- dialect:方言 -->
			<!-- <property name="dialect" value="mysql" /> -->
		</plugin>
	</plugins>

    <!-- 设置一个默认的连接环境信息 -->  
    <environments default="mysql_developer">  

        <!-- 连接环境信息，取一个任意唯一的名字 -->  
        <environment id="mysql_developer">  
            <!-- mybatis使用jdbc事务管理方式 -->  
            <transactionManager type="jdbc"/>  
            <!-- mybatis使用连接池方式来获取连接 -->  
            <dataSource type="pooled">  
                <!-- 配置与数据库交互的4个必要属性 -->  
                <property name="driver" value="${jdbc.driver}"/>  
                <property name="url" value="${jdbc.url}"/>  
                <property name="username" value="${jdbc.username}"/>  
                <property name="password" value="${jdbc.password}"/>  
            </dataSource>  
        </environment>  

    </environments>  

    <!-- 加载映射文件-->  
    <mappers>  
        <mapper resource="com/jsdz/jsdzcloud/dao/UserLoginMapper.xml"/>  
        <mapper resource="com/jsdz/jsdzcloud/dao/CreatTablesMapper.xml"/>  
        <mapper resource="com/jsdz/jsdzcloud/dao/MokuaiMapper.xml"/>  
        <mapper resource="com/jsdz/jsdzcloud/dao/ProductMapper.xml"/>  
    </mappers>  
    


</configuration>  